<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Регистрация на сайте zayct.by</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background: #e6e6e6">
    <div class="container my-2" sec:authorize="not isAuthenticated()" style="background: #e6e6e6">
        <h1>Зарегестрироваться:</h1>
        <form th:action="@{/zayct/courses/signup/register}" method="post" th:object="${newUser}">
            <div class="form-row">
                <div class="col">
                    <label for="loginInput">Ваш логин</label>
                    <small style="margin-left: 5px">От 4 до 30 символов, начинающихся с латинской буквы</small>
                    <input required id="loginInput" type="text" class="form-control col-5" th:field="*{username}" placeholder="Логин...">
                    <p th:if="${#fields.hasErrors('username')}" th:errorclass="error" th:errors="*{username}"></p>

                    <label for="passwordInput">Ваш пароль</label>
                    <small style="margin-left: 5px">От 8 до 32 символов (латинские буквы, цифры, специальные знаки)</small>
                    <input required id="passwordInput" type="text" class="form-control col-5" th:field="*{password}" placeholder="Пароль...">
                    <p th:if="${#fields.hasErrors('password')}" th:errorclass="error" th:errors="*{password}"></p>

                    <label for="nameInput">Ваше имя</label>
                    <small style="margin-left: 5px">Введите имя(от 4 символов) и фамилию (вплоть до 6 слов и 32 символов), разделенных пробелом</small>
                    <input required id="nameInput" type="text" class="form-control col-5" th:field="*{name}" placeholder="Имя...">
                    <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>

                    <label for="emailInput">Ваша электронная почта</label>
                    <small style="margin-left: 5px">Введите адрес почты в формате xxx@xxx.xxx (до 50 символов)</small>
                    <input required id="emailInput" type="text" class="form-control col-5" th:field="*{email}" placeholder="Адрес почты...">
                    <p th:if="${#fields.hasErrors('email')}" th:errorclass="error" th:errors="*{email}"></p>

                    <label for="phoneInput">Ваш номер телефона</label>
                    <small style="margin-left: 5px">Введите номер телефона в формате +37525....... (до 13 символов)</small>
                    <input required id="phoneInput" type="text" class="form-control col-5" th:field="*{phoneNumber}" placeholder="Номер телефона...">
                    <p th:if="${#fields.hasErrors('phoneNumber')}" th:errorclass="error" th:errors="*{phoneNumber}"></p>

                    <div th:if="${#fields.hasErrors('global')}">
                        <p th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-secondary col-2">Зарегестрироваться</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>